ul {
  list-style: none;
  width: 100%; /* Establece el ancho del <ul> al 100% */
  position: absolute;
  background-color: #fff;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.4em;
  max-height: 150px;
  overflow-y: auto;
}

li {
  text-align: start;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #f0f0f0;
  }
}

.form-control,
button {
  height: 40px;
  margin: auto 0.5em; /* Ajusta la altura según tus preferencias */
}
