<div class="container">
  <div class="row">
    <form class="text-center">
      <div class="form-group mx-sm-3 mb-2">
        <input
          id="ciudad"
          class="form-control form-control-sm"
          type="text"
          name="ciudad"
          placeholder="Ingrese su ciudad"
          [(ngModel)]="ciudad"
          [(ngModel)]="terminoBusqueda"
          (input)="buscarSugerencias()"
        />
        <ul *ngIf="terminoBusqueda.trim() !== '' && sugerencias.length > 0">
          <li
            *ngFor="let sugerencia of sugerencias"
            (click)="seleccionarSugerencia(sugerencia)"
          >
            {{ sugerencia.name }}, {{ sugerencia.country }}
          </li>
        </ul>
        <button class="btn btn-dark" type="submit" (click)="onClickBoton()">
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>
