.ciudad {
  justify-content: center;
  margin-top: 1em;
  text-align: center;

  img {
    max-width: 3em;
    max-height: 3em;
    margin: auto 0.5em;
  }
}

.informacion {
  padding: 1em;
  margin-top: 1em;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 2em;
}

.pronostico {
  text-align: center;
  height: 100%;

  .contenedorPronosticoDias {
    display: flex;
    align-items: center;
    gap: 1.5em;
    height: 100%;
  }

  .pronosticoDias {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}

.informacion-texto {
  text-align: center;
}
