<app-buscador></app-buscador>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="ciudad d-flex">
        <h1>
          {{ climaService.ciudad }}
        </h1>

        <img class="rounded-circle" src="{{ climaService.bandera }}" alt="" />
      </div>
    </div>

    <div *ngIf="climaService.informacionInvisible" class="informacion row">
      <div class="col-md-6">
        <div class="informacion-texto">
          <img
            [src]="climaService.iconoUrl"
            alt="imagen del clima"
            class="imgClima"
          />

          <p>Temperatura : {{ climaService.temperaturaActual }}°</p>

          <p>Temperatura Máxima : {{ climaService.temperaturaMaxActual }}°</p>

          <p>Temperatura Mínima : {{ climaService.temperaturaMinActual }}°</p>

          <p>Sensación térmica : {{ climaService.sensacionActual }}°</p>

          <p>{{ climaService.descripcionActual }}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="pronostico">
          <h3>Proximos días</h3>
          <div class="contenedorPronosticoDias">
            <div
              class="pronosticoDias"
              *ngFor="let dia of climaService.pronostico"
            >
              <p>{{ dia.fecha }}</p>
              <p>{{ dia.tempMax }} °</p>
              <p>{{ dia.tempMin }} °</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
