<app-buscador></app-buscador>
<app-rain-effect></app-rain-effect>
<div class="container">
  <div class="row">
    <div class="ciudad d-flex">
      <h1>{{ climaService.ciudad }}</h1>
      <img class="rounded-circle" [src]="climaService.bandera" alt="" />
    </div>
  </div>

  <div
    *ngIf="climaService.informacionInvisible"
    class="informacion mx-auto row"
  >
    <div class="informacion-texto col-md-5 mx-auto">
      <i [class]="'wi ' + climaService.iconClass" id="imgClima"></i>
      <!-- <img [src]="climaService.iconoUrl" alt="imagen del clima" id="imgClima" /> -->
      <p>Temperatura: {{ climaService.temperaturaActual }}°</p>
      <p>Temperatura Máxima: {{ climaService.temperaturaMaxActual }}°</p>
      <p>Temperatura Mínima: {{ climaService.temperaturaMinActual }}°</p>
      <p>Sensación térmica: {{ climaService.sensacionActual }}°</p>
      <p id="descripcion">{{ climaService.descripcionActual }}</p>
    </div>

    <div class="col-md-6 mx-auto">
      <div class="pronostico">
        <h3>Próximos días</h3>
        <div class="contenedorPronosticoDias">
          <div
            class="pronosticoDias"
            *ngFor="let dia of climaService.pronostico"
          >
            <i
              [class]="'wi ' + dia.iconoPronostico"
              id="imgClimaPronostico"
            ></i>
            <!-- <img
              class="iconoDiasPronostico"
              [src]="
                'https://openweathermap.org/img/wn/' +
                dia.iconoPronostico +
                '@2x.png'
              "
              alt=""
            /> -->
            <p>{{ dia.fecha }}</p>
            <p>{{ dia.tempMax }}°</p>
            <p>{{ dia.tempMin }}°</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
